node-RED.json
[{"id":"6f8fcfb9.aacd3","type":"tab","label":"Pingpong Robot","disabled":false,"info":""},{"id":"55753bd0.a13f64","type":"s7 out","z":"6f8fcfb9.aacd3","endpoint":"92192a5d.c26d28","variable":"Hoek","name":"","x":810,"y":560,"wires":[]},{"id":"9fbdd74f.c61348","type":"s7 out","z":"6f8fcfb9.aacd3","endpoint":"92192a5d.c26d28","variable":"Snelheid_1","name":"","x":830,"y":620,"wires":[]},{"id":"c2c4e0f8.4bc3d","type":"s7 out","z":"6f8fcfb9.aacd3","endpoint":"92192a5d.c26d28","variable":"Snelheid_2","name":"","x":830,"y":680,"wires":[]},{"id":"bf297d74.7a155","type":"s7 out","z":"6f8fcfb9.aacd3","endpoint":"92192a5d.c26d28","variable":"Start","name":"","x":810,"y":760,"wires":[]},{"id":"6b4d4713.8441b8","type":"s7 out","z":"6f8fcfb9.aacd3","endpoint":"92192a5d.c26d28","variable":"Stop","name":"","x":810,"y":820,"wires":[]},{"id":"e523838a.d4345","type":"s7 out","z":"6f8fcfb9.aacd3","endpoint":"92192a5d.c26d28","variable":"Relatief","name":"","x":820,"y":920,"wires":[]},{"id":"d1540401.201b58","type":"inject","z":"6f8fcfb9.aacd3","name":"","props":[{"p":"payload","v":"false","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":150,"y":920,"wires":[["e523838a.d4345"]]},{"id":"2002e029.caf87","type":"inject","z":"6f8fcfb9.aacd3","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":470,"y":920,"wires":[["e523838a.d4345"]]},{"id":"d3dde845.430ba8","type":"s7 out","z":"6f8fcfb9.aacd3","endpoint":"92192a5d.c26d28","variable":"Absoluut","name":"","x":820,"y":980,"wires":[]},{"id":"cb1ce871.bc1698","type":"inject","z":"6f8fcfb9.aacd3","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":150,"y":980,"wires":[["d3dde845.430ba8"]]},{"id":"f210e5d5.b1c278","type":"inject","z":"6f8fcfb9.aacd3","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":470,"y":980,"wires":[["d3dde845.430ba8"]]},{"id":"42b3a7b.4a2b858","type":"s7 out","z":"6f8fcfb9.aacd3","endpoint":"92192a5d.c26d28","variable":"Return","name":"","x":810,"y":1040,"wires":[]},{"id":"56d2de7.a7a572","type":"inject","z":"6f8fcfb9.aacd3","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":150,"y":1040,"wires":[["42b3a7b.4a2b858"]]},{"id":"8eb81f20.6d582","type":"inject","z":"6f8fcfb9.aacd3","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":470,"y":1040,"wires":[["42b3a7b.4a2b858"]]},{"id":"50f0b9b6.faac48","type":"s7 out","z":"6f8fcfb9.aacd3","endpoint":"92192a5d.c26d28","variable":"Calibratie","name":"","x":820,"y":1100,"wires":[]},{"id":"e7967e73.d5d95","type":"inject","z":"6f8fcfb9.aacd3","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":150,"y":1100,"wires":[["50f0b9b6.faac48"]]},{"id":"2a74393a.fad6a6","type":"inject","z":"6f8fcfb9.aacd3","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":470,"y":1100,"wires":[["50f0b9b6.faac48"]]},{"id":"79dd6217.e09dec","type":"s7 out","z":"6f8fcfb9.aacd3","endpoint":"92192a5d.c26d28","variable":"Trigger","name":"","x":820,"y":1180,"wires":[]},{"id":"71f6fb78.7c46c4","type":"debug","z":"6f8fcfb9.aacd3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":440,"wires":[]},{"id":"7e5ab211.b5d92c","type":"mqtt in","z":"6f8fcfb9.aacd3","name":"","topic":"tommys_blaster/movement/vertical","qos":"2","datatype":"utf8","broker":"30b46a3d.86060e","nl":false,"rap":false,"x":220,"y":560,"wires":[["7858e189.2f6a3"]]},{"id":"7858e189.2f6a3","type":"change","z":"6f8fcfb9.aacd3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":560,"wires":[["55753bd0.a13f64"]]},{"id":"af85e526.faa078","type":"mqtt in","z":"6f8fcfb9.aacd3","name":"","topic":"tommys_blaster/movement/left-motor","qos":"2","datatype":"utf8","broker":"30b46a3d.86060e","nl":false,"rap":false,"x":230,"y":680,"wires":[["3888d5a9.dac13a"]]},{"id":"3888d5a9.dac13a","type":"change","z":"6f8fcfb9.aacd3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":680,"wires":[["c2c4e0f8.4bc3d"]]},{"id":"75a10bde.eb7034","type":"mqtt in","z":"6f8fcfb9.aacd3","name":"","topic":"tommys_blaster/movement/right-motor","qos":"2","datatype":"utf8","broker":"30b46a3d.86060e","nl":false,"rap":false,"x":230,"y":620,"wires":[["99e3cf43.30002"]]},{"id":"99e3cf43.30002","type":"change","z":"6f8fcfb9.aacd3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":620,"wires":[["9fbdd74f.c61348"]]},{"id":"e3c925a0.0e85d8","type":"mqtt in","z":"6f8fcfb9.aacd3","name":"","topic":"tommys_blaster/control","qos":"2","datatype":"utf8","broker":"10a0ffe4.a79f2","nl":false,"rap":false,"x":180,"y":800,"wires":[["e4db6f50.7671d"]]},{"id":"78d5d7d0.3b3138","type":"change","z":"6f8fcfb9.aacd3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":740,"wires":[["bf297d74.7a155"]]},{"id":"e4db6f50.7671d","type":"switch","z":"6f8fcfb9.aacd3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start-robot","vt":"str"},{"t":"eq","v":"stop-robot","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":800,"wires":[["78d5d7d0.3b3138","abfb01d8.3cf39"],["2227ffe2.f6c71","1b913125.7f86af"]]},{"id":"abfb01d8.3cf39","type":"change","z":"6f8fcfb9.aacd3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":780,"wires":[["6b4d4713.8441b8"]]},{"id":"2227ffe2.f6c71","type":"change","z":"6f8fcfb9.aacd3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":820,"wires":[["bf297d74.7a155"]]},{"id":"1b913125.7f86af","type":"change","z":"6f8fcfb9.aacd3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":860,"wires":[["6b4d4713.8441b8"]]},{"id":"125f2212.f57bfe","type":"mqtt in","z":"6f8fcfb9.aacd3","name":"","topic":"tommys_blaster/movement/fire","qos":"2","datatype":"utf8","broker":"30b46a3d.86060e","nl":false,"rap":false,"x":210,"y":1180,"wires":[["4decd962.ac1ec8"]]},{"id":"86097f93.d3082","type":"s7 in","z":"6f8fcfb9.aacd3","endpoint":"92192a5d.c26d28","mode":"single","variable":"Trigger","diff":false,"name":"","x":130,"y":1240,"wires":[["f58981ca.51067"]]},{"id":"f58981ca.51067","type":"switch","z":"6f8fcfb9.aacd3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":1240,"wires":[["3821e3c6.fd39fc"]]},{"id":"4decd962.ac1ec8","type":"change","z":"6f8fcfb9.aacd3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1180,"wires":[["79dd6217.e09dec"]]},{"id":"3821e3c6.fd39fc","type":"change","z":"6f8fcfb9.aacd3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1240,"wires":[["79dd6217.e09dec"]]},{"id":"e38e8ca1.cb996","type":"mqtt in","z":"6f8fcfb9.aacd3","name":"","topic":"tommys_blaster/#","qos":"2","datatype":"utf8","broker":"30b46a3d.86060e","nl":false,"rap":false,"x":160,"y":440,"wires":[["71f6fb78.7c46c4"]]},{"id":"92192a5d.c26d28","type":"s7 endpoint","transport":"iso-on-tcp","address":"172.16.12.32","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"500","timeout":"1500","name":"","vartable":[{"addr":"DB17,REAL52","name":"Hoek"},{"addr":"DB17,I56","name":"Snelheid_1"},{"addr":"DB17,I58","name":"Snelheid_2"},{"addr":"DB17,X60.0","name":"Start"},{"addr":"DB17,X60.1","name":"Stop"},{"addr":"DB17,X60.2","name":"Relatief"},{"addr":"DB17,X60.3","name":"Absoluut"},{"addr":"DB17,X60.4","name":"Return"},{"addr":"DB17,X60.5","name":"Calibratie"},{"addr":"DB17,X60.6","name":"Trigger"}]},{"id":"30b46a3d.86060e","type":"mqtt-broker","name":"brokerPi","broker":"172.16.102.12","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"10a0ffe4.a79f2","type":"mqtt-broker","name":"labict","broker":"labict.be","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]